<!doctype html>
<html>
	<head>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/clients/united/data.js"></script>
		<script>
			Feed.pop();
		</script>
		<style>
		
*
{
	position:relative;
	margin:0;
	padding:0;
	border:0;
	font-family:Ubuntu;
	font-weight:normal;
}
.Band
{
	
}
.Band > .Center
{
	max-width:1170px;
	margin:0 auto;
}

.Pad
{
	padding:20px;
}

		
		</style>
<style>
.Band.Nav
{
	background: #00325b;
}
.Band.Nav .Tier2
{
	display:none;
}
.Band.Nav .Tier1
{
	overflow:hidden;
}
.Band.Nav .Tier1 > li
{
	display:block;
	float:left;
	list-style-type:none;
}
.Band.Nav .Tier1 > li > a
{
	display:block;
	padding:20px 10px 20px 10px;
	
	color:#fff;
	font-size:0.8em;
	font-family:Ubuntu;
	text-decoration:none;
}
.Band.Nav .Tier1 > li > a:hover
{
	background:#639ec8;
	color:#fff;
}
</style>	
		
	</head>
	<body>
	
		<div class="Band Brand">
			<div class="Center">
				<div class="Pad">
					<img src="https://www.readinghealth.org/~/media/Images/Global/logo.png"/>
				</div>
			</div>
		</div>
		
		<div class="Band Nav">
			<div class="Center">

					<ul class="Tier1">
						<li>
							<a href="../who-we-are/">Who We Are</a>
							<ul class="Tier2">
								<li><a href="../who-we-are/what-inspires-us/">What Inspires Us</a></li>
								<li><a href="../who-we-are/campus/">Our Campus</a></li>
							</ul>
						</li>
						<li>
							<a href="../why-reading/">Why Reading?</a>
							<ul class="Tier2">
								<li><a href="../why-reading/growth-and-development/">Growth and Development</a></li>
								<li><a href="../why-reading/teamwork/">Teamwork</a></li>
								<li><a href="../why-reading/benefits-and-rewards/">Benefits and Rewards</a></li>
								<li><a href="../why-reading/community/">Community</a></li>
								<li><a href="../why-reading/berks-county/">Living and Working in Berks County</a></li>
							</ul>
						</li>
						<li>
							<a href="../physicians-and-advanced-practitioners/" class="Active">Physicians and Advanced Practitioners</a>
							<ul class="Tier2">
								<li><a href="our-leadership-and-medical-staff/">Our Leadership and Medical Staff</a></li>
								<li><a href="academic-affiliations/">Academic Affiliations</a></li>
								<li><a href="our-medical-staff-recruitment-team/">Our Medical Staff Recruitment Team</a></li>
								<li><a href="physicians/">Physicians</a></li>
								<li><a href="midwives/">Midwives</a></li>
								<li><a href="nurse-anesthetists/">Nurse Anesthetists</a></li>
								<li><a href="nurse-practitioners/">Nurse Practitioners</a></li>
								<li><a href="physician-assistants/">Physician Assistants</a></li>
								<li><a class="Skip" href="../connect/">Events</a></li>
							</ul>
						</li>
						<li>
							<a href="../nursing/">Nursing</a>
							<ul class="Tier2">
								<li><a href="../nursing/community/">The Nursing Community at Reading</a></li>
								<li><a href="../nursing/specialties/">Nursing Specialties</a></li>
								<li><a href="../nursing/new-graduate-programs/">New Graduate Programs</a></li>
								<li><a href="../nursing/advanced-practice/">Advanced Practice Nursing</a></li>
								<li><a class="Skip" href="../connect/">Events</a></li>
								<li><a class="Skip" href="../connect/our-reading-health-system-recruitment-team/">Our Reading Health System Recruitment Team</a></li>
								<li><a class="Skip" href="our-medical-staff-recruitment-team/">Our Medical Staff Recruitment Team</a></li>
							</ul>
						</li>
						<li>
							<a href="../allied-health/">Allied Health</a>
							<ul class="Tier2">
								<li><a href="../allied-health/life-at-reading/">The Allied Health Community at Reading</a></li>
								<li><a href="../allied-health/laboratory/">Laboratory</a></li>
								<li><a href="../allied-health/medical-imaging/">Medical Imaging</a></li>
								<li><a href="../allied-health/pharmacy/">Pharmacy</a></li>
								<li><a href="../allied-health/radiology/">Radiology</a></li>
								<li><a href="../allied-health/rehabilitation/">Rehabilitation</a></li>
								<li><a href="../allied-health/respiratory/">Respiratory</a></li>
								<li><a class="Skip" href="../connect/">Events</a></li>
								<li><a class="Skip" href="../connect/our-reading-health-system-recruitment-team/">Our Reading Health System Recruitment Team</a></li>
							 </ul>
						</li>
						<li>
							<a href="../non-clinical/">Non-Clinical</a>
							<ul class="Tier2">
								<li><a href="../non-clinical/facilities-and-support-services/">Facilities and Support Services</a></li>
								<li><a href="../non-clinical/information-technology/">Information Technology</a></li>
								<li><a href="../non-clinical/nutrition-and-food-service/">Nutrition and Food Service</a></li>
								<li><a href="../non-clinical/professional-and-clerical/">Professional and Clerical</a></li>
								<li><a class="Skip" href="../connect/">Events</a></li>
								<li><a class="Skip" href="../connect/our-reading-health-system-recruitment-team/">Our Reading Health System Recruitment Team</a></li>
							</ul>
						</li>
						<li>
							<a href="../connect/">Connect</a>
							<ul class="Tier2">
								<li>
									<a href="../connect/our-reading-health-system-recruitment-team/">Our Reading Health System Recruitment Team</a>
								</li>
								<li>
									<a class="Skip" href="our-medical-staff-recruitment-team/">Our Medical Staff Recruitment Team</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/us/en-us/search-jobs/XsjgP">Search Jobs</a>
						</li>
					</ul>

			</div>
		</div>
		
		<div class="Band Content">
			<div class="Center">
				<div class="Pad">
					<h1>main template</h1>
					{{{body}}}
				</div>
			</div>
		</div>
		
		
	</body>
</html>