<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/components/papaparse.min.js"></script>
        <script src="/components/table.js"></script>
        <script src="/components/mapper.js"></script>
        <link rel="stylesheet" type="text/css" href="/components/styles.css"></link>
        <meta charset="UTF-8">
    </head>
<body>

    <div ng-app="App" ng-controller="Controller" ng-cloak>

        <div class="Band">
            <div class="Center Columns">

                <div class="Column Stack Location">
                    <h3>Browse by Location</h3>
                    <dl class="Collapse" ng-repeat="state in Location | orderBy: 'Name'" ng-class="{Open: (state.Open)}">
                        <dt ng-click="Reveal(state);">
                            <strong>{{state.Name | StateName}}</strong>
                            <span>{{state.Rows.length}}</span>
                        </dt>
                        <dd ng-repeat="position in state.Children | orderBy: '-Rows.length'">
                            <strong ng-click="Reveal(position);">{{position.Name}}:</strong>
                            <a ng-repeat="city in position.Children" ng-click="Reveal(city);" href="">
                                <span style="text-tranform:capitalize;">{{city.Name}}</span>
                                <strong ng-hide="city.Rows.length == 1">( {{city.Rows.length}} Openings )</strong>
                            </a>
                        </dd>
                    </dl>
                </div>

                <div class="Column Stack Type" style="float:right;">
                    <h3>Browse by Category</h3>
                    <dl ng-repeat="type in Category | orderBy: '-Rows.length'" ng-class="{Open: (type.Open)}">
                        <dt ng-click="Reveal(type);">
                            <strong>{{type.Name}}</strong>
                            <span>{{type.Rows.length}}</span>
                        </dt>
                        <dd ng-repeat="position in type.Children | orderBy: 'Name'">
                            <strong ng-click="Reveal(position);">{{position.Name | StateName}}</strong>
                            <a ng-repeat="state in position.Children" ng-click="Reveal(state);" href="">
                                <span>{{state.Name}}</span>
                                <strong ng-hide="state.Rows.length == 1">( {{state.Rows.length}} Openings )</strong>
                            </a>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>


        <div class="Band">
            <div class="Center">
                <div class="Tabular">
                    <table>
                        <thead>
                            <tr>
                                <th ng-click="Table.SetSort(0);">
                                    Title
                                    <div class="Center">
                                        <span class="Sort Up" ng-show="Table.ColumnDirection == 1">&#9650;</span>
                                        <span class="Sort Down" ng-show="Table.ColumnDirection == -1">&#9660;</span>
                                    </div>
                                </th>
                                <th ng-click="Table.SetSort(1);">
                                    Category
                                    <div class="Center">
                                        <span class="Sort Up" ng-show="Table.ColumnDirection == 1">&#9650;</span>
                                        <span class="Sort Down" ng-show="Table.ColumnDirection == -1">&#9660;</span>
                                    </div>
                                </th>
                                <th ng-click="Table.SetSort(6);">
                                    Location
                                    <div class="Center">
                                        <span class="Sort Up" ng-show="Table.ColumnDirection == 1">&#9650;</span>
                                        <span class="Sort Down" ng-show="Table.ColumnDirection == -1">&#9660;</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Table.Visible track by $index">
                                <td>
                                    <a href="/clients/wegmans/descriptions/{{row[2]}}.html" target="_blank">{{row[0]}}</a>
                                </td>
                                <td>{{row[1]}}</td>
                                <td>{{row[5]}}, {{row[6]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        Showing {{Table.Page.min+1}} to {{Table.Page.max}} of {{Table.Rows.length}} results at
                        <select convert-to-number
                            ng-model="Table.PerPage"
                            ng-change="Table.UpdatePagination();"
                            ng-options="option for option in Table.PagingOptions track by option">
                        </select>
                        per page
                    </p>
                    <ul>
                        <li class="Jump First"
                            ng-click="Table.SetPage(0)"
                            ng-if="!Table.InRange(0)">
                            &#8249;&#8249;
                        </li>
                        <li ng-repeat="page in Table.Pages track by $index"
                            ng-click="Table.SetPage(page.index);"
                            ng-class="{Active: page.active}"
                            ng-if="Table.InRange(page.index)">
                            {{$index+1}}
                        </li>
                        <li class="Jump Last"
                            ng-click="Table.SetPage(Table.Pages.length-1)"
                            ng-if="!Table.InRange(Table.Pages.length-1)">
                            &#8250;&#8250;
                        </li>
                    </ul>
                    <div class="Clear"></div>
                </div>
            </div>
        </div>


    </div>


    <script>
        angular.module("App", ["Tabular", "Mapper"])
        .controller("Controller", ["$scope", "Table", "Download", "TableData", function($scope, Table, Download, TableData)
        {
            $scope.Table = Table.Create();
            $scope.States = false;
            $scope.Location = false;
            $scope.Category = false;
            $scope.Active = [false];

            Download("/clients/springleaf/data.js", function(inTableData)
            {
                $scope.Location = TableData.PivotTree(inTableData, [6, 0, 5]);
                $scope.Category = TableData.PivotTree(inTableData, [1, 6, 0]);
            });

            $scope.Reveal = function(inTableData)
            {
                var i;

                for(i=0; i<$scope.Active.length; i++)
                {
                    $scope.Active[i].Open = false;
                }
                if($scope.Active[0] != inTableData)
                {
                    $scope.Active = TableData.Ancestors(inTableData);
                    for(i=0; i<$scope.Active.length; i++)
                    {
                        $scope.Active[i].Open = true;
                    }
                }
                else
                {
                    $scope.Active = [false];
                }
                $scope.Table.Populate(inTableData);
            };
        }]);
    </script>
</body>
</html>